@keyframes ldio-yzaezf3dcml {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-yzaezf3dcml div {
   
 
    animation: ldio-yzaezf3dcml 1s linear infinite;
    width: 160px;
    height: 160px;
  
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #0e4074;
    transform-origin: 80px 82px;
  }
  .loadingio-spinner-eclipse-2by998twmg9 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    
  }
  .ldio-yzaezf3dcml {
    
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-yzaezf3dcml div { box-sizing: content-box; }